#titulo1 {
    text-shadow: 5px 5px 5px #aaa;
}
#titulo2 {
    text-shadow: -5px -5px 5px #aaa;
}
#titulo3 {
    text-shadow: 3px 3px 5px #f00,
                 6px 6px 5px #0f0,
                 9px 9px 5px #aaf;
}
h1 {
    font-size: 50px;
}
body {
    background: white;
    margin: 20px;
}